model-viewer {
  width: 500px;
  height: 800px;
}
.model{
  margin-top: -20em;
}
@media (max-width: 600px) {
  model-viewer {
    width: 400px;
    height: 600px;
  }
 .model{
  margin-top: -8em;
}
}

#lazy-load-poster {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-image: url("https://res.cloudinary.com/frapoteam/image/upload/v1620798209/frapo_kzjc4j.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.dark-mode {
    display: flex;
    justify-content: space-between;
  }
  .checkbox {
    display: none;
  }
  .checkbox:checked ~ .switch:before{
    transform: translateX(25px);
  }
  .switch {
    /* border: 1px solid red; */
    height: 30px;
    display: block;
    border-radius: 20px;
    background: #06122C;
    width: 60px;
    padding: 5px;
    box-sizing: border-box;
    cursor: pointer;
    user-select: none;
  }
  .switch::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background: rgb(0, 122, 75);
    border-radius: 50%;
    transform: translateX(0);
    transition: .3s;
    will-change: transform;
  }


  .darkColor{
    background: #17151F;
    opacity: 0.99;
  }